/* GLOBAL INÍCIO*/
.body {
    background-color: rgb(240, 210, 41);
}

.card-title {
    color: rgb(240, 210, 41);
    text-shadow: -1px -1px 0 #343a40, 1px -1px 0 #343a40, -1px 1px 0 #343a40, 1px 1px 0 #343a40;
}

.card-body a:hover {
    text-decoration-line: none;
}

/* GLOBAL FIM*/




/* Header INÍCIO */
.header {
    background-color: black;
}

    /* Logo ÍNÍCIO */
    .logo-section {
        background-color: black;
        padding: 10px;
    }

    .logo-section img {
        width: 120px;
    }

    /* Logo FIM */


    /* Menu de navegação INÍCIO */
    .menu-nav {
        margin-top: 60px;
        margin-bottom: 10px;
    }

    .nav-pills .nav-link:not(.active) {
        background-color: rgb(54, 54, 54);
        color: rgb(240, 210, 41);
        border-radius: 0px;
        font-weight: 400;
    }

    .nav-pills .nav-link:not(.active):hover {
        background-color: rgb(87, 86, 86);
    }

    .nav-pills .active {
        background-color: rgb(240, 210, 41) !important;
        color: black !important;
        border-radius: 0px !important;
        font-weight: bolder !important;
    }

    /* Menu de navegação FIM */


    /* Banner INÍCIO */
    .banner {
        background-color: white;
        border-top: solid rgb(240, 210, 41);
        border-bottom: solid rgb(240, 210, 41);
        padding: 0px;
    }

    .banner .carousel-caption {
        background-color: rgb(0, 0, 0, 0.25);
        padding: 0px;
    }

    .banner .carousel-label {
        color: rgb(240, 210, 41);
        font-size: 35px;
        font-weight: 450;
        font-variant: small-caps;
        text-shadow: -2px -2px 0 #000,
                      2px -2px 0 #000,
                     -2px  2px 0 #000,
                      2px  2px 0 #000;
    }

    .banner .carousel-description {
        font-size: 20px;
        font-weight: 400;
        text-shadow: -2px -2px 0 #000,
                      2px -2px 0 #000,
                     -2px  2px 0 #000,
                      2px  2px 0 #000;
    }

    /* Banner FIM */

/* Header FIM */



/* Main INÍCIO */
.main {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

    /* Main-block INÍCIO */
    .main-block {
        background-color: black;
    }

        /* Anúncio INÍCIO */
        .anuncio {
            margin-left: 2.5px;
        }

        .anuncio .card {
            border: none;
            margin: 0px;
        }

        .anuncio img {
            width: 200px;
        }

        .anuncio .card-horizontal {
            display: flex;
            flex: 1 1 auto;
        }

        .anuncio .img-square-wrapper {
            background-color: black;
        }

        .anuncio .card-body {
            background-color: black;
            padding-top: 0px;
        }

        .anuncio .card-text {
            color: rgb(214, 214, 214);
            text-align: justify;
            padding-top: 10px;
        }

        /* Anúncio FIM */


        /* Notícias INÍCIO */
        .noticia {
            margin-right: 2.5px;
            margin-left: 2.5px;
            border-radius: 0px;
        }

        .noticia .card {
            border: none;
        }

        .noticia .card-header {
            background-color: rgb(54, 54, 54);
        }

        .noticia .card-title {
            color: rgb(240, 210, 41);
            margin-bottom: 5px;
            font-size: 25px;
            font-weight: 500;
            text-shadow: -1px -1px black,
                         -1px  1px black,
                          1px -1px black,
                          2px  2px black;
        }

        .noticia .card-header p {
            color: rgb(182, 182, 182);
            margin-bottom: 0px;
            text-shadow: -1px -1px black, 
                         -1px  1px black,
                          1px -1px black,
                          2px  2px black;
        }

        .noticia .card-body {
            background-color: black;
        }

        .noticia .card-text {
            color: rgb(214, 214, 214);
        }

        .noticia .card-footer {
            background-color: rgb(54, 54, 54);
        }

        .noticia .card-footer .btn {
            background-color: rgb(240, 210, 41);
            font-weight: 500;
        }


        /* Notícias FIM */

    /* Main-block FIM */


    /* Aside-block INÍCIO */
    .aside-block {
        background-color: black;
        color: white;
    }

        /* Promoção INÍCIO */
        .promocao-title {
            background-color: rgb(54, 54, 54);
            color: rgb(240, 210, 41);
            padding-top: 10px;
            padding-bottom: 10px;
            font-size: 25px;
            font-weight: 500;
            border: none;
            text-shadow: -1px -1px black,
                         -1px  1px black,
                          1px -1px black,
                          2px  2px black;

        }

        .promocao-end {
            background-color: rgb(54, 54, 54);
            margin-bottom: 0px;
            padding: 20px;
        }

        .promocao-banner {
            background-color: black;
            padding: 0px;
        }

        .promocao-banner .carousel-inner {
            height: 400px !important;
        }

        .promocao-banner .card-img-top {
            max-width: 300px;
            padding: 0px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .promocao-banner .card {
            background-color: black;
            padding: 0px;
            margin: 0px;
            border-radius: 0px;
            border-top: 10px solid black;
        }

        .promocao-banner .card-text {
            color: rgb(168, 152, 57);
            text-shadow: -1px -1px 0 #343a40,
                          1px -1px 0 #343a40,
                         -1px  1px 0 #343a40,
                          1px  1px 0 #343a40;
        }

        .promocao-banner .card-stk-price {
            color: rgb(153, 153, 153);
        }

        .promocao-banner .card-crt-price {
            color: rgb(214, 214, 214);
            font-size: 1.5em;
            text-shadow: -1px -1px 0 #343a40,
                          1px -1px 0 #343a40,
                         -1px  1px 0 #343a40,
                          1px  1px 0 #343a40;
        }

        /* Promoção FIM */

    /* Aside-block FIM */

/* Main FIM */





/* Footer INÍCIO */
    .footer {
        background-color: black;
        color: rgb(240, 210, 41);
        padding: 10px;
    }

    .footer div {
        text-align: center;
    }

/* Footer FIM */








/* MEDIA QUERIES INÍCIO */
@media screen and (min-width: 768px) and (max-width: 991px) {

    /* Main block INÍCIO */
    .main-block {

    }

    /* Main block FIM */


    /* Aside block INÍCIO */
    .promocao-banner .carousel-inner {
        height: 520px !important;
    }

    /* Aside block FIM */
}




@media screen and (min-width: 576px) and (max-width: 767px) {

    /* Header INÍCIO */
    .logo-section img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100px;
    }

    .menu-nav {
        margin-top: auto;
        text-align: center;
    }

    .menu-nav nav {
        display: inline-block;
        width: 95%;
        margin-bottom: 10px;
    }

    /* Header FIM */



    /* Main block INÍCIO */
    .main-block {

    }

    /* Main block FIM */



    /* Aside block INÍCIO */
    .promocao-banner .card-img-top {
        max-width: 200px;
        padding: 0px;
        object-fit: cover;
    }

    .promocao-title,
    .promocao-banner .card-body {
        text-align: center;
    }

    /* Aside block FIM */



    /* Footer INÍCIO */
    .footer .span-2 {
        display: block;
    }

    /* Footer FIM */
}




@media screen and (max-width: 575px) {
 
    /* Header INÍCIO */
    .logo-section {
        padding: 5px;
    }

    .logo-section img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100px;
    }

    .menu-nav {
        margin-top: auto;
        text-align: center;
    }

    .menu-nav nav {
        display: inline-block;
        width: 95%;
        margin-bottom: 10px;
    }

    /* Header FIM */


    /* Main block INÍCIO */
    .main-block {

    }

        /* Anúncio INÍCIO */
        .anuncio {
            margin-left: 0px;
            margin-right: 0px;
        }

        .anuncio .card-horizontal {
            display: block;
        }

        .anuncio img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: fit-content;
            max-width: 85%;
        }

        .anuncio .card-body {
            padding-top: 10px;
        }

        .anuncio .card-title,
        .anuncio .card-text {
            padding-right: 0px;
            padding-left: 0px;
        }
        
        /* Anúncio INÍCIO */

    /* Main block FIM */



    /* Aside block INÍCIO */
        /* Promoção INÍCIO */
        .promocao-banner .carousel-inner {
            height: 100% !important;
        }

        .promocao-banner .card-img-top {
            max-width: 40%;
            min-width: 130px;
            padding: 0px;
            object-fit: cover;
        }

        .promocao-title,
        .promocao-banner .card-body {
            text-align: center;
        }
        /* Promoção FIM */

    /* Aside block FIM */



    /* Footer INÍCIO */
    .footer .span-1,
    .footer .span-2 {
        display: block;
    }

    /* Footer FIMs */
}

/* MEDIA QUERIES FIM */






